body{
	display: flex;
	justify-content: center;
}
.container{
	width: 650px;
  
}
#golova{
  background-color: rgb(45, 45, 148);
  border-radius: 25px 25px 0 0;
  padding:10px 10px 10px 25px;
  color:white;
}
#telo{
  border:solid 1px #3c3cb4;
  border-radius:0 0 25px 25px;
  height:400px;
}
.cafename{
  background-color:rgb(235, 209, 209);
  margin:10px;
  color:rgb(58, 1, 1);
  text-align: center;
  padding:10px;
  font-weight: bold;
  font-size: 18px;
}
.coffeename{
  background-color: rgb(203, 227, 243);
  margin:10px;
  padding:15px;
  color:rgb(58,1,1);
  font-weight: bold;
  font-size: 18px;
  font-family: sans-serif;
}
.shrift{
  margin:0;
}
img{
  width:110px;
  float:right;
  height:130px;
}
@media (max-width: 360px) {
  .container{
    
  }
  body{
    height: 690px;
  }
  .cafename, .coffeename {
    display: grid;
    grid-template-columns:auto ;
    justify-content: center;
    align-items: center;
    
  }
  #telo{
    height: 630px;
  }
}